<div class="container mt-5">
  <h3>This is the Main component!</h3>
  <form class="form-inline mb-4 mt-4">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchField" [(ngModel)]="searchField" autocomplete="off">
    <button class="btn btn-primary" type="submit" (click)="search()">Search</button>
  </form>
  <div>
    <app-children [nodes]="nodes"></app-children>
  </div>
</div>