
<div class="jumbotron cursor-pointer">
    <div (dblclick)="nodeClick()" (contextmenu)="onRightClick()" [class.hasChildren]="node.children.length == 0" (click)="selectNode()" [ngStyle]="{'background-color': node.isSelected ? 'blue' : ''}">
        <span *ngIf="node.children.length > 0">&rarr;</span>
        <img src="assets/file.png" style="width: 50px; height: auto;">

        <span *ngIf="rightClick" class="ml-4"><input type="text" value="{{ node.title }}" [(ngModel)]="titleValue"></span>
        <span *ngIf="rightClick"><button class="btn" (click)="saveNewTitle()">Save</button></span>

        <span *ngIf="!rightClick" class="ml-4 border-bottom" [ngStyle]="{'color': node.isSelected ? 'white' : ''}">{{ node.title }}</span>
        <span><button class="btn btn-sm btn-danger float-right" (click)="deleteNode(node.id)">-</button></span>
        <span><button class="btn btn-sm btn-primary float-right mr-1">+</button></span>
    </div>
    <app-children *ngIf="node.status" [nodes]="node.children"></app-children>
</div>

