/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

.jumbotron{
    padding: 10px;
    margin-bottom: 10px;
    user-select: none;
}

.cursor-pointer{
    cursor: grab;
}

.hasChildren{
    margin-left: 15px;
}